@import "../../components/mixin";
@import "../../components/vars";

.banner {
  /* background: url(../img/fon.jpg) no-repeat center #E0E7ED; */

  background-image: url(../../static/images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #E0E7ED;
  /* background-size: contain; */
  padding: 153px 0 288px;
  margin-bottom: 80px;
  &__title {
    @include font-size(90px, 100%, 900);
    color: $blue;
    max-width: 80%;
    margin: 0 0 47px;
    letter-spacing: -1px;
  }
  &__button {
    @include font-size(24px, 29px);
    max-width: 360px;
  }  
}


/* SERVICE */

.services {
  margin-bottom: 110px;
  &__title {
    @include font-size(42px, 50px, bold);
    text-transform: uppercase;
    color: $blue;
    text-align: center;
    margin: 0 0 50px;
  }
  &__list {
    display: flex;
    margin: 0 -10px;    
  }
}

/* ABOUT */

.about {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 106px;
  &:after {
    @extend %psevdo;
    width: 570px;
    height: 499px;
    background: $primary;
    top: 40px;
    right: -70px;
    z-index: -1;
  }

  &__wrapper {
    @include font-size(18px, 28px);
    margin-right: 10%;
    color: $black;
  }
  &__title {
    @include font-size(72px, 100%, 900);
    color: #005DAB;
    margin: 0 0 46px;
  }
}

/* AWARDS */
.awards {
  margin-bottom: 80px;
  &__list {
    display: flex;
    justify-content: space-between;
  }
}
