@import "../../components/mixin";
@import "../../components/vars";

.contact {
    &__title {
        @include font-size(50px, 97%, 900);
        text-align: center;
        color: $blue;
    }
    &__form {
        width: 780px;
        background: $light-smoke;
        margin: 0 auto;
        padding: 50px 100px;
        margin-bottom: 80px;
    }
}