.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 33px;
  &__nav {
    margin: 0 auto 0 25px;
  }
  &__list {
    display: flex;
  }
  &__item {
    a {
      margin-right: 15px;
      color: #333333;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
    }
  }
  &__phone {
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    color: #95459A;
    margin-right: 24px;
  }
}