.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 33px;
  &__nav {
    margin: 0 auto 0 25px;
  }
  &__list {
    display: flex;
  }
  &__item {
    a {
      @include font-size(17px, 20px, bold);
      margin-right: 15px;
      color: #333333;
    }
  }
  &__phone {
    @include font-size(17px, 20px, 800);
    color: $secondary;
    margin-right: 24px;
  }
}