<header class="header container">
  <a href="/">
    <img src="../../static/images/logo.svg" alt="Logo">
  </a>
  <nav class="header__nav">
    <ul class="undotted header__list">
      <li class="header__item">
        <a href="pages/catalog" class="header__link">Catalog</a>
      </li>
      <li class="header__item">
        <a href="#">Servises</a>
      </li>


      <li class="header__item">
        <a href="#">Blog</a>
      </li>

      <li class="header__item">
        <a href="#">About us</a>
      </li>
    </ul>
  </nav>
  <a href="tel:7194319698" class="header__phone">719-431-9698</a>
  @@include('button/index.html', {
    "href":"pages/contact",
    "text":"Contact Us",
    "class":"button"
  })
</header>