* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #2C3036;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.hidden {
    font-size: 0;
    width: 0;
    height: 0;
}

.undotted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 0;
}

input,
textarea {
    border: 2px solid #777;
    background: transparent;
    padding: 0 20px;
    line-height: 47px;
    outline: none;
    resize: none;
}

input:focus,
textarea:focus {
    border: 2px solid rgba(255, 182, 18, 0.5);
}

/* input:focus + label {
    color: #FFB612;
} */

input::placeholder {
    color: red;
}

legend {
    font-size: 18px;
    line-height: 22px;
    color: #6B6A6A;
    margin-bottom: 14px;
}

label,
.label {
    font-size: 18px;
    line-height: 22px;
    color: #6B6A6A;
    margin-bottom: 6px;
}

.field-2-column {
    display: flex;
    justify-content: space-between;
}

.field-2-column .label-wrapper {
    width: 280px;
}
.field-2-column .label-wrapper:first-child {
    margin-right: 20px;
}

.label-wrapper {
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    margin-bottom: 20px;
}

.label-wrapper:focus-within label,
.label-wrapper:focus-within span {
    color: #FFB612;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}

.checkbox-list,
.radio-list {
    display: flex;
    margin-bottom: 20px;
}

.checkbox-label,
.radio-label {
    position: relative;
    padding-left: 35px;
    margin-right: 20px;
    cursor: pointer;
}

.checkbox-label:before,
.checkbox-label:after,
.radio-label:before,
.radio-label:after {
    content: '';
    display: block;
    position: absolute;
}

.radio-label:before,
.checkbox-label:before {
    top: -2px;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #777;
    background: transparent;
}

.radio-label:before {
    border-radius: 50%;
}

.radio-label:after,
.checkbox-label:after {
    top: 3px;
    left: 5px;
    width: 13px;
    height: 13px;
    background: #95459A;
    opacity: 0;
}

.radio-label:after {
    border-radius: 50%;
}

.checkbox-input:checked + .checkbox-label:after,
.radio-input:checked + .radio-label:after {
    opacity: 1;
}

.checkbox-input:disabled + .checkbox-label,
.checkbox-input:disabled + .checkbox-label:before,
.radio-input:disabled + .radio-label:before,
.radio-input:disabled + .radio-label {
    opacity: .4;
}


// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
