
.footer {
  background: $blue;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    @include font-size(40px, 130%, 900);
    text-transform: capitalize;
    color: #FFFFFF;
  }
}

.social {
  display: flex;
  li {
    margin-left: 15px;
  }
}
