
.footer {
  background: #00559D;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info {
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
  text-transform: capitalize;
  color: #FFFFFF;
}

.social {
  display: flex;
}