.map {
  background: url(../../static/images/map.jpg) no-repeat;
  background-size: cover;
  padding: 40px 0 133px;
}

.map-wrapper {
  background: #008752;
  max-width: 380px;
  padding: 50px 44px 26px;
  color: #fff;
}

.map-title {
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 17px;
}

.map-phone {
  color: #fff;
  margin-bottom: 23px;
  display: block;
}